* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.valores{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 10px;
}

.valoe{
    margin-right: 10px;
}

.valor{
    margin-left: 10px;
    margin-right: 10px;
}

#operacion{
    margin-left: 20px;
}

#boton{
    margin-left: 20px;
}

.respuesta{
    margin-left: 20px;
}

.tabla{
    width: 40%;
    table-layout: fixed;
    border-collapse: collapse;
}

.caja_tabla{
    width: 30%;
    margin-left: 10px;
}

#solucion_array{
    text-align: center;
    height: 30px;
}

.botonTabla{
    width: 100%;
}

.boton{
    width: 100%;
}
