* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3a0404;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculadora {
    background-color: #5c0707;
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.pantalla {
    grid-column: 1 / 6;
    background-color: #3a0404;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

.btn {
    background-color: #5c0707;
    color: white;
    border: none;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: #3a0404;
    cursor: pointer;
}

#cero {
    grid-column: 1 / 3;
}

#igual {
    grid-row: span 2;
    grid-column: span 2;
    background-color: #09cfe9;
}

#igual:hover {
    background-color: #07a5b0;
    cursor: pointer;
}